.Myschedule {
	overflow: auto;
	height: 600px;
}

.scheduleEvents {
	max-width: 300px;
	max-height: 350px;
	overflow: auto;
}

.pager {
    margin: 0; 
    padding: 4px;
}
.myPanel {
  	border: 1px solid transparent;
  	border-radius: 4px;
  	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.weekend {
	background-color: #FFDACC;
}

.myPanel-body {
  padding: 0px;
}
.myPanel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.myPanel-primary {
  border-color: #337ab7;
}
.myPanel-primary > .myPanel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.myPanel-primary > .myPanel-heading + .myPanel-collapse > .myPanel-body {
  border-top-color: #337ab7;
}
.myPanel-primary > .myPanel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.myPanel-primary > .myPanel-footer + .myPanel-collapse > .myPanel-body {
  border-bottom-color: #337ab7;
}

.myPanel-holiday {
  border-color: #faebcc;
}
.myPanel-holiday > .myPanel-heading {
  color: #FFEDCC;
  background-color: #AA8139;
  border-color: #faebcc;
}
.myPanel-holiday > .myPanel-heading + .myPanel-collapse > .myPanel-body {
  border-top-color: #faebcc;
}
.myPanel-holiday > .myPanel-heading .badge {
  color: #AA8139;
  background-color: #FFEDCC;
}
.myPanel-holiday > .myPanel-footer + .myPanel-collapse > .myPanel-body {
  border-bottom-color: #faebcc;
}

.myPanel-danger {
  border-color: #ebccd1;
}
.myPanel-danger > .myPanel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.myPanel-danger > .myPanel-heading + .myPanel-collapse > .myPanel-body {
  border-top-color: #ebccd1;
}
.myPanel-danger > .myPanel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.myPanel-danger > .myPanel-footer + .myPanel-collapse > .myPanel-body {
  border-bottom-color: #ebccd1;
}

.SheduleEventsLi {
	height: 20px;
	font-size: 14px;
	padding: 0;
	cursor: pointer;
}

.clone {
	font-size: 14px;
	padding-top: 10px;
}


.eventsAndDownload, .weekMode, .scroll {
	float: left;
	width: 250px;
}

.conflict {
	width: 300px;
	float: left;
}

.SheduleAndPager {
	float: left;
	width: 800px;
	padding-left: 5%;
}

.cell {
	border: 1px solid #ddd !important;
	width: 120px;
	height: 30px;
	font-size: 12px;
	font-style: italic;
}

.calendarCell {
	border: 1px solid #ddd !important;
	width: 120px;
	height: 30px;
	font-size: 12px;
	font-style: italic;	
}

.danger {
	background-color: #f2dede;
	border: 2px;
	border-color: #FA0A5A;
}

.conflictCell, .extendedConflictCell{
	border: 1px solid #ddd !important;
	background-color: #EBCBCB;
	font-size: 10px;
	font-style: italic;
	width: 100%;
	min-height: 20px;
}


.table-bordered tr>td:first-child {
    width:20px;
}

.selectedCell {
	background-color: #E8E8FF;
}

.resourceSorting, .weeksNumber {
	width: 100px;
}

.chooseDay, .chooseTimeline, .chooseWeek {
	cursor: pointer;
}

.myRow {
	padding-top: 10px;
	padding-left: 20px;
}